@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nanum+Gothic:wght@400;700;800&family=Noto+Sans+KR:wght@100..900&display=swap');
* { box-sizing: border-box; 
  outline: none; 
  font-family: "Noto Sans KR", sans-serif;}

  html {
    font-size: 13px;
  }

  body {
    margin: 0;
    color: #000;

  }

  ul, ol {
    list-style: none;

  }

  ul, ol, dl, dt, dd {
    margin: 0;
    padding: 0;
  }

  a{
    text-decoration: none;
    color: #000;
  }

  img {
    border: 0;;
  }